In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, normalize
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [29]:
dataset = pd.read_csv('C:/Users/deepp/OneDrive/Desktop/ML/Assignment_5/datasets(2)/datasets/CC.csv')

In [30]:
dataset.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [31]:
#droping the unwanted data
dataset = dataset.drop("CUST_ID", axis=1)

In [27]:
#checking for Null values
dataset.isnull().sum()

BALANCE                             0
BALANCE_FREQUENCY                   0
PURCHASES                           0
ONEOFF_PURCHASES                    0
INSTALLMENTS_PURCHASES              0
CASH_ADVANCE                        0
PURCHASES_FREQUENCY                 0
ONEOFF_PURCHASES_FREQUENCY          0
PURCHASES_INSTALLMENTS_FREQUENCY    0
CASH_ADVANCE_FREQUENCY              0
CASH_ADVANCE_TRX                    0
PURCHASES_TRX                       0
CREDIT_LIMIT                        0
PAYMENTS                            0
MINIMUM_PAYMENTS                    0
PRC_FULL_PAYMENT                    0
TENURE                              0
dtype: int64

In [7]:
dataset = dataset.fillna(dataset.mean()) #filling null values with mean values

In [8]:
pca = PCA(2)#applying PCA and took K(components)=2
pca.fit(dataset)

PCA(n_components=2)

In [11]:
x_pca = pca.fit_transform(dataset)
dfo = pd.DataFrame(data=x_pca)

In [12]:
print(dfo)

                0            1
0    -4326.383956   921.566884
1     4118.916676 -2432.846347
2     1497.907660 -1997.578692
3     1394.548556 -1488.743450
4    -3743.351874   757.342659
...           ...          ...
8945 -4208.357938  1122.443274
8946 -4123.924001   951.683803
8947 -4379.444202   911.504566
8948 -4791.117744  1032.540944
8949 -3623.702749  1555.134769

[8950 rows x 2 columns]

question 2: Apply k-means algorithm on the PCA result and report your observation if the silhouette score has improved or not?

In [19]:
#now use K-mean after PCA
nclusters = 3  # k's value 3
km = KMeans(n_clusters=nclusters)
km.fit(dfo)

KMeans(n_clusters=3)

In [20]:
# predicted the cluster for data point

y_cluster_kmeans = km.predict(dfo)
from sklearn import metrics
score = metrics.silhouette_score(df2, y_cluster_kmeans)
print(score)

0.5720003152910857

question 3:  Perform Scaling+PCA+K-Means and report performance.

In [16]:
#scaling -> dataset
scaler = StandardScaler()
X_Scale = scaler.fit_transform(dataset)

In [17]:
# PCA --> scaling --> original dataset
pca = PCA(2)  #applying PCA ,K =2
x_pca = pca.fit_transform(X_Scale)

In [21]:
#K-means ---> scaling + PCA
nclusters = 3           
km = KMeans(n_clusters=nclusters)
km.fit(x_pca)

KMeans(n_clusters=3)

In [22]:
# predicted the cluster for each data point
y_cluster_kmeans = km.predict(x_pca)
from sklearn import metrics
score = metrics.silhouette_score(x_pca, y_cluster_kmeans)
print(score)

0.4523237242337273